In [1]:
import pandas as pd

c:\Users\sabri\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [1]:
[[0]*2]*4

[[0, 0], [0, 0], [0, 0], [0, 0]]

In [3]:
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)
pd.set_option('display.precision', 2)

In [4]:
data = pd.read_csv('csv/wines.csv', index_col=0)

In [16]:
data["BORDEAUX"].mean()

4388.0

In [10]:
data

,CHAMPAGNE,MOUSSEUX_AOC,MOUSSEUX_SIMPLE,ALSACE,GIRONDE,BEAUJOLAIS,BORDEAUX,RHONE,ANJOU,AOC_OTHERS,VDQS,AUTRE_VDQS,PROVENCE,MUSCAT,AOC_STRONG,OTHER_STRONG,VERY_STRONG
BELGIUM,7069,2436,3066,2422,22986,17465,3784,7950,2587,17200,1976,38747,1375,2016,160,24,2415
Netherlands,3786,586,290,1999,22183,19840,2339,10537,600,22806,1029,19151,1150,2908,246,1533,74
GERMANY,12578,2006,10439,17183,21023,72977,4828,7552,2101,15979,1346,191140,2514,1529,135,160,208
ITALY,8037,30,1413,57,56,2364,98,24,0,50,0,7992,0,0,8,0,8
UK,13556,1217,7214,1127,30025,39919,7885,8172,7582,20004,2258,101108,284,12891,1177,480,1705
Switzerland,9664,471,112,600,6544,17327,3191,11691,143,1279,212,1029,401,18,26,0,12
USA,10386,997,3788,408,13114,17487,11791,1369,872,4016,1017,26192,9,716,7,0,36
CANADA,206,51,330,241,3447,2346,1188,1798,131,944,487,38503,236,653,0,0,47

In [11]:
# stats per country
print('\nCountries:')
meanvar = pd.concat([data.mean(axis=1), data.var(axis=1, ddof=0), data.var(axis=1, ddof=1)], axis=1)
meanvar.columns = ['mean', 'variance', 'sample variance']
meanvar

Countries:

                 mean  variance  sample variance
BELGIUM       7863.41  1.03e+08         1.09e+08
Netherlands   6532.76  7.03e+07         7.47e+07
GERMANY      21394.00  2.08e+09         2.21e+09
ITALY         1184.53  6.60e+06         7.01e+06
UK           15094.35  5.79e+08         6.15e+08
Switzerland   3101.18  2.49e+07         2.65e+07
USA           5423.82  5.57e+07         5.92e+07
CANADA        2976.94  7.97e+07         8.47e+07

In [17]:
# stats per wine
print('\nWines:')
meanvar = pd.concat([data.mean(axis=0), data.var(axis=0, ddof=0), data.var(axis=0, ddof=1)], axis=1)
meanvar.columns = ['mean', 'variance', 'sample variance']
meanvar.sort_values(by="variance")

Wines:

                     mean  variance  sample variance
AOC_STRONG         219.88  1.38e+05         1.58e+05
OTHER_STRONG       274.62  2.50e+05         2.86e+05
VDQS              1040.62  5.66e+05         6.47e+05
PROVENCE           746.12  6.72e+05         7.68e+05
MOUSSEUX_AOC       974.25  6.76e+05         7.73e+05
VERY_STRONG        563.12  7.82e+05         8.94e+05
ANJOU             1752.00  5.65e+06         6.46e+06
MOUSSEUX_SIMPLE   3331.50  1.23e+07         1.40e+07
BORDEAUX          4388.00  1.27e+07         1.46e+07
MUSCAT            2591.38  1.60e+07         1.83e+07
RHONE             6136.62  1.73e+07         1.98e+07
CHAMPAGNE         8160.25  1.74e+07         1.99e+07
ALSACE            3004.62  2.93e+07         3.35e+07
AOC_OTHERS       10284.75  8.05e+07         9.20e+07
GIRONDE          14922.25  1.01e+08         1.16e+08
BEAUJOLAIS       23715.62  4.67e+08         5.34e+08
AUTRE_VDQS       52982.75  3.55e+09         4.06e+09

In [14]:
# correlation matrices
print('\nWines correlation matrix:')
print(data.corr())

print('\nCountries correlation matrix:')
data.transpose().corr()

Wines correlation matrix:
                 CHAMPAGNE  MOUSSEUX_AOC  MOUSSEUX_SIMPLE    ALSACE  GIRONDE  \
CHAMPAGNE             1.00          0.46             0.74  3.90e-01     0.43
MOUSSEUX_AOC          0.46          1.00             0.66  5.67e-01     0.72
MOUSSEUX_SIMPLE       0.74          0.66             1.00  7.72e-01     0.59
ALSACE                0.39          0.57             0.77  1.00e+00     0.34
GIRONDE               0.43          0.72             0.59  3.36e-01     1.00
BEAUJOLAIS            0.66          0.63             0.91  8.85e-01     0.63
BORDEAUX              0.60          0.38             0.48  4.67e-02     0.46
RHONE                 0.21          0.36             0.08  2.21e-01     0.56
ANJOU                 0.58          0.47             0.62  1.02e-01     0.78
AOC_OTHERS            0.21          0.61             0.45  3.60e-01     0.93
VDQS                  0.41          0.79             0.62  2.50e-01     0.93
AUTRE_VDQS            0.51          0.58             0.93  8.82e-01     0.53
PROVENCE              0.18          0.71             0.57  8.87e-01     0.50
MUSCAT                0.43          0.23             0.44 -5.95e-02     0.72
AOC_STRONG            0.46          0.22             0.45 -4.60e-02     0.71
OTHER_STRONG         -0.21         -0.08            -0.12 -8.68e-03     0.49
VERY_STRONG           0.23          0.70             0.28 -5.24e-02     0.65

                 BEAUJOLAIS  BORDEAUX  RHONE  ANJOU  AOC_OTHERS  VDQS  \
CHAMPAGNE              0.66      0.60   0.21   0.58        0.21  0.41
MOUSSEUX_AOC           0.63      0.38   0.36   0.47        0.61  0.79
MOUSSEUX_SIMPLE        0.91      0.48   0.08   0.62        0.45  0.62
ALSACE                 0.89      0.05   0.22   0.10        0.36  0.25
GIRONDE                0.63      0.46   0.56   0.78        0.93  0.93
BEAUJOLAIS             1.00      0.34   0.41   0.48        0.56  0.53
BORDEAUX               0.34      1.00  -0.04   0.45        0.18  0.51
RHONE                  0.41     -0.04   1.00   0.28        0.60  0.35
ANJOU                  0.48      0.45   0.28   1.00        0.60  0.84
AOC_OTHERS             0.56      0.18   0.60   0.60        1.00  0.80
VDQS                   0.53      0.51   0.35   0.84        0.80  1.00
AUTRE_VDQS             0.93      0.24   0.15   0.50        0.46  0.52
PROVENCE               0.76     -0.10   0.47   0.08        0.60  0.39
MUSCAT                 0.35      0.37   0.29   0.95        0.60  0.73
AOC_STRONG             0.36      0.34   0.33   0.95        0.60  0.71
OTHER_STRONG           0.11     -0.10   0.48   0.12        0.69  0.21
VERY_STRONG            0.14      0.18   0.28   0.70        0.54  0.82

                 AUTRE_VDQS  PROVENCE  MUSCAT  AOC_STRONG  OTHER_STRONG  \
CHAMPAGNE              0.51      0.18    0.43        0.46     -2.06e-01
MOUSSEUX_AOC           0.58      0.71    0.23        0.22     -8.46e-02
MOUSSEUX_SIMPLE        0.93      0.57    0.44        0.45     -1.19e-01
ALSACE                 0.88      0.89   -0.06       -0.05     -8.68e-03
GIRONDE                0.53      0.50    0.72        0.71      4.86e-01
BEAUJOLAIS             0.93      0.76    0.35        0.36      1.11e-01
BORDEAUX               0.24     -0.10    0.37        0.34     -9.85e-02
RHONE                  0.15      0.47    0.29        0.33      4.80e-01
ANJOU                  0.50      0.08    0.95        0.95      1.16e-01
AOC_OTHERS             0.46      0.60    0.60        0.60      6.94e-01
VDQS                   0.52      0.39    0.73        0.71      2.12e-01
AUTRE_VDQS             1.00      0.71    0.35        0.35     -2.93e-02
PROVENCE               0.71      1.00   -0.06       -0.05      2.12e-01
MUSCAT                 0.35     -0.06    1.00        1.00      3.27e-01
AOC_STRONG             0.35     -0.05    1.00        1.00      3.26e-01
OTHER_STRONG          -0.03      0.21    0.33        0.33      1.00e+00
VERY_STRONG            0.17      0.18    0.56        0.55     -6.05e-02

                 VERY_STRONG
CHAMPAGNE               0.23
MOUSSEUX_AOC            0.70
MOUSSEUX_SIMPLE         0.28
ALSACE                 -0.05
GIRONDE                 0.65
BEAUJOLAIS              0.14
BORDEAUX                0.18
RHONE                   0.28
ANJOU                   0.70
AOC_OTHERS              0.54
VDQS                    0.82
AUTRE_VDQS              0.17
PROVENCE                0.18
MUSCAT                  0.56
AOC_STRONG              0.55
OTHER_STRONG           -0.06
VERY_STRONG             1.00

Countries correlation matrix:

,BELGIUM,Netherlands,GERMANY,ITALY,UK,Switzerland,USA,CANADA
BELGIUM,1.00,0.87,0.87,0.58,0.94,0.32,0.87,0.81
Netherlands,0.87,1.00,0.58,0.28,0.69,0.51,0.67,0.45
GERMANY,0.87,0.58,1.00,0.70,0.97,0.19,0.85,0.95
ITALY,0.58,0.28,0.70,1.00,0.69,0.30,0.71,0.66
UK,0.94,0.69,0.97,0.69,1.00,0.23,0.89,0.93
Switzerland,0.32,0.51,0.19,0.30,0.23,1.00,0.46,-0.03
USA,0.87,0.67,0.85,0.71,0.89,0.46,1.00,0.75
CANADA,0.81,0.45,0.95,0.66,0.93,-0.03,0.75,1.00